.page-header {
  background-color: #bdbdbd;
}
.page-title {
  color: #f44336;
}
.section-title {
  color: #3f51b5;
}
.section-text {
  color: #ff5722;
}
.page-footer {
  background-color: #212121;
}
.copyright-text {
  color: #ffffff;
}
