.page-header {
  background-color: #bdbdbd;
}
.page-title {
  color: #f44336;
}
.section-title {
  color: orangered;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #212121;
}
.section-text {
  color: #ff5722;
}
.page-footer {
  background-color: #212121;
}
.copyright-text {
  color: #ffffff;
}
