body {
  color: aliceblue;
}
h1 {
  color: orange;
}
p {
  color: cyan;
}
a {
  color: black;
}
header {
  background-color: rgb(245, 245, 245);
}
/* element Transparency rgba */
nav {
  background-color: rgba(0, 0, 255, 0.3);
}
h1 {
  color: #f44336;
}
h2 {
  color: #3f51b5;
}
h3 {
  color: #4caf50;
}
a {
  color: #ffc107;
}
/* link to ID in CSS  */
#hero {
  color: #3f51b5;
}
#clubs {
  color: #9c27b0;
}
#benefits {
  color: #00bcd4;
}
#programs {
  color: #ff9800;
}

.benefits > li {
  color: #d500f9;
}
