body {
  color: aliceblue;
}
h1 {
  color: orange;
}
p {
  color: cyan;
}
a {
  color: black;
}
header {
  background-color: rgb(245, 245, 245);
}
/* element Transparency rgba */
nav {
  background-color: rgba(0, 0, 255, 0.3);
}
