body {
  color: aliceblue;
}
h1 {
  color: rgb(0, 0, 0);
}
p {
  color: rgb(0, 0, 0);
}
a {
  color: black;
}
header {
  background-color: rgb(245, 245, 245);
}
/* element Transparency rgba */
nav {
  background-color: rgba(0, 0, 255, 0.3);
}
h1 {
  color: #000000;
}
h2 {
  color: #1e1f25;
}
h3 {
  color: #4caf50;
}
a {
  color: #f80f0f;
}
/* link to ID in CSS  */
#hero {
  color: #3f51b5;
}
#clubs {
  color: #ff002b;
}
#benefits {
  color: #0400d4;
}
#programs {
  color: #ff9800;
}
address {
  color: #000000;
}

.benefits > li {
  color: #d500f9;
}
ul,
ol {
  list-style-type: none;
}
